<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="ConsolePrint" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%d{HH:mm:ss} %-4level]: %msg%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=default, DEBUG=green, TRACE=blue}"/>
        </Console>
        <File name="FilePrint" fileName="logs/latest.log" immediateFlush="false" append="false">
            <PatternLayout pattern="[%d{HH:mm:ss} %-4level]: %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="ConsolePrint"/>
            <AppenderRef ref="FilePrint"/>
        </Root>
    </Loggers>
</Configuration>